
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="notify-container"></div>

    <div class="hero text-center" style="margin-top: -20px;background: url('{% static 'images/mind.jpg' %}');background-size: cover">

	<canvas width="600" height="500" id="myCanvas" ></canvas>

	<div id="tags" >
        {% for item  in symptom_tags %}
        <a  style="color: #0a0a0a">item</a>
        {% endfor %}

		<a >注意力难集中</a>
		<a href="#">抑郁</a>
        <a href="#">缺乏自律</a>
        <a href="#">无精打采</a>
        <a href="#">冲动</a>
		<a href="#">情绪失控</a>
        <a href="#">失眠</a>
        <a href="#">焦虑</a>
        <a href="#">缺乏兴趣</a>
        <a href="#">无聊</a>
        <a href="#">拖延症</a>
        <a href="#">情绪敏感</a>
        <a href="#">不开心</a>
	</div>


        <div>
            <a href="/" class="d-none d-inline-block-md no-decor fg-white  bd-white p-4 h2">有这么多负能量？</a>
        </div>
        <h3 class="fg-white mt-10"><span class="reduce-1 enlarge-1-md">是不是感觉自己很消极，不开心，感觉不到幸福，甚至还抑郁了？</span></h3>
        <h4 class="fg-light text-upper text-light mt-4"><span class="reduce-1 enlarge-1-md">没关系，逻辑心理学能教你重新认识自己，并将你改造成一个积极幸福的人。</span></h4>

        <div class="d-flex flex-justify-center flex-align-center mt-4 text-small">

        </div>

    </div>

    <div class="container-fluid bg-white fg-dark pt-10 pb-20 neb neb-white">
        <div class="container text-center">
            <div class="h2 m-10"><span class="reduce-1 enlarge-1-md">逻辑心理学与传统心理学有什么区别？</span></div>
            <div class="text-leader">
                <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
                    传统心理学侧重对人的心理和行为的观察总结，从表面上去看事物。而逻辑心理学则侧重于从内部构建意识模型，从意识的本质去推导心理活动。
                </p>
            </div>


            <div class="feature-table row mt-10 pos-absolute-md">



            </div>
        </div>
    </div>

    <div class="container-fluid bg-light pt-10 pb-20 neb neb-light">
        <div class="container text-center">
            <div class="h2 m-10"><span class="reduce-1 enlarge-1-md">什么是逻辑心理学？</span></div>
            <div class="text-leader">
                <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
                    人的本质就是意识，逻辑心理学研究的就是意识的本质，通过剖析意识本质，先了解意识，再从意识本身向外推导心理活动，让你真正从内到外的了解自己。
                    在了解自己的基础上，寻找解决问题的方法，对自己的意识进行改造，让你成为一个幸福的人。
                </p>
            </div>
            <hr class="mt-10 mb-10 w-50" style="background-color: #E1E1E1">

<!-- Metro UI - Responsive 1 -->

{##}
{#    <div class="container-fluid feature-bg pt-10 pb-20 neb neb-feature">#}
{#        <div class="container text-center">#}
{#            <div class="h1 mt-10"><span class="reduce-1 enlarge-1-md">All the Features You Need</span></div>#}
{#            <div class="h4 text-light"><span class="reduce-1 enlarge-1-md">With Metro 4 you get:</span></div>#}
{##}
{#            <div class="row mt-12">#}
{#                <div class="cell-md-4 mt-4">#}
{#                    <div><span class="mif-embed2 mif-8x"></span></div>#}
{#                    <h4 class="fg-white mt-4">Base styles</h4>#}
{#                    <p>#}
{#                        Metro 4 includes various styles for changing the appearance of html elements.#}
{#                    </p>#}
{#                </div>#}
{#                <div class="cell-md-4 mt-4">#}
{#                    <div><span class="mif-library mif-8x"></span></div>#}
{#                    <h4 class="fg-white mt-4">70+ Components</h4>#}
{#                    <p>#}
{#                        More than 70 components are available to you to solve almost all tasks.#}
{#                    </p>#}
{#                </div>#}
{#                <div class="cell-md-4 mt-4">#}
{#                    <div><span class="mif-cogs mif-8x"></span></div>#}
{#                    <h4 class="fg-white mt-4">Tools and Routines</h4>#}
{#                    <p>#}
{#                        Various built-in tool functions and classes will increase your productivity.#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}

    <div class="container-fluid bg-white fg-dark">
        <div class="container pt-10 pb-20">
            <div class="h2 mt-10 text-center"><span class="reduce-1 enlarge-1-md">如何理解逻辑心理学？</span></div>
            <p class="text-leader text-center pl-10-md pr-10-md">
                由于比较侧重于逻辑推理，所以理解逻辑心理学懂一些基本的逻辑概念和有一定的理解能力，但是别担心，都是一些很简单基本的东西。都是一些很简单基本的东西，
                还有就是要侧重于整体理解而不是偏执于某一点。我们并非洗脑式的让你信就完了，而是要让你以思考理解的方式来认识自己，
                然后再让自己成为想要成为的人。

            </p>

        </div>
    </div>

    <footer class="footer-bg">
        <div class="container pt-20 pb-20">
            <div class="text-center">
                <ul class="inline-list reduce-1" id="social-menu">
                    <li><a href="https://www.facebook.com/metrouicss/"><span class="mif-facebook"></span></a></li>
                    <li><a href="https://twitter.com/MetroUI"><span class="mif-twitter"></span></a></li>
                    <li><a href="#"><span class="mif-youtube"></span></a></li>
                    <li><a href="https://github.com/olton/Metro-UI-CSS"><span class="mif-github"></span></a></li>
                </ul>
            </div>


            <div class="text-center mt-10 reduce-1">
                Metro 4 (Metro UI CSS) © 2012-2018 by <a href="mailto:sergey@pimenov.com.ua" class="no-wrap">Sergey Pimenov</a>.
                <br>
                <span class="no-wrap">Domain by <a href="https://imena.ua/">Imena.ua</a>.</span>
                <span class="no-wrap">Hosting by <a href="https://mirohost.net/">Mirohost</a>.</span>
            </div>
        </div>
    </footer>


</div>

</div>




  <script type="text/javascript">

  window.onload = function () {

	try {
		var i, et = document.getElementById('tags').childNodes;
		for (i in et) {
			et[i].nodeName == 'A' && et[i].addEventListener('click', function (e) {
				e.preventDefault();
			});
		}
		TagCanvas.Start('myCanvas', 'tags', {
			textColour: '#222',
			outlineColour: '#fff',
			reverse: true,
			depth: 0.8,
			dragControl: true,
			decel:0.95,
			maxSpeed: 0.05,
			initial: [-0.2, 0]
		});
	} catch (e) {
		// something went wrong, hide the canvas container
		//document.getElementById('myCanvasContainer').style.display = 'none';
	}
      };
    </script>

{% endblock %}

