
    <nav class="navview-pane">
        <button class="pull-button">
            <span class="mif-menu"></span>
        </button>

    <div class="suggest-box">
        <input data-role="search" data-clear-button="false">
        <button class="holder">
            <span class="mif-search"></span>
        </button>
    </div>

        <ul class="navview-menu" style="height: calc(100% - 140.333px);">
            <li>
                <a href="#">
                    <span class="icon"><span class="mif-home"></span></span>
                    <span class="caption">认识自我</span>
                </a>
            </li>

            <li class="item-separator"></li>

            <li class="item-header">改造自我</li>

            <li>
                <a href="#">
                    <span class="icon"><span class="mif-apps"></span></span>
                    <span class="caption">Apps</span>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <span class="icon"><span class="mif-gamepad"></span></span>
                    <span class="caption">Games</span>
                </a>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <span class="icon"><span class="mif-music"></span></span>
                    <span class="caption">Music</span>
                </a>
                <ul class="navview-menu" data-role="dropdown" style="height: calc(100% - 110.333px); display: none;">
                    <li>
                        <a href="#">
                            <span class="icon"><span class="mif-gamepad"></span></span>
                            <span class="caption">Games</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><span class="mif-film"></span></span>
                            <span class="caption">Movies</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="disabled">
                <a href="#">
                    <span class="icon"><span class="mif-images"></span></span>
                    <span class="caption">Images</span>
                </a>
            </li>

            <li class="item-separator"></li>

            <li>
                <a href="#">
                    <span class="icon"><span class="mif-folder"></span></span>
                    <span class="caption">Documents</span>
                </a>
            </li>
        </ul>
    </nav>


